$color-background-lighter: #f4f4f4;
$color-background-light:#EAEAEA;
$color-tertiary:#99E2D0;

@font-face {
    font-family: 'Roboto' 'Shrikhand';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Shrikhand&display=swap')
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;   
}


.bold{
    font-weight: bolder;
}

.background-light{
    background-color: $color-background-light;
}
.background-white{
    background-color: white;
}
.background-lighter{
    background-color: $color-background-lighter;
}


.logo{
    position: relative;
    &__return{
        font-size: 25px;
        position: absolute;
        left: 8%;
        top: 5%;
    }
}

.photo{
    height: 300px;
    width: 100%;
    object-fit: cover; 
    position: relative;
    &__position {
        background-color: $color-background-lighter;
        width: 100%;
        position: absolute;
        top: 45%;
        border-radius: 30px 30px 0px 0px;
    }
}

.name{
    @include flex-row-center;
    justify-content: space-around;
    font-family: 'Shrikhand';
    
    &__icon{
        font-size: 30px;
        padding-right: 5%;
    }
}

@keyframes cascade{
    from{margin-top: 40px;
        opacity: 0;}
    to{margin-top: 0;
    opacity: 1;}
}
.animation-delay1{
    animation-delay: 200ms;
}
.animation-delay2{
    animation-delay: 400ms;
}
.card{
    animation-name: cascade;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    height: 70px;
    padding-left: 5%;
    padding-right: 5%;
    
    div{
        @include flex-row-center;
    justify-content: space-between;
    }
}

.epd{
    font-weight:lighter;
    font-size: 17px;
    padding-left: 5%;
    padding-bottom: 2%;
}
.border{
    padding-bottom: 1%;
    border-bottom: 3px solid $color-tertiary;
}

.btn-menu{
    display: block;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 15%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 17px;
}