*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto' 'Shrikhand';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Shrikhand&display=swap')
}
body{
    font-family: 'Roboto';
    margin: 0%;
    a{
        text-decoration: none;    
        color: black;
    }
}
$color-primary:#9356DC;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-lighter:#f5edff;
$color-secondary: #FF79DA;
$color-secondary-light: lighten($color-secondary, 5%);
$color-tertiary:#99E2D0;
$color-tertiary-dark: darken($color-tertiary, 36%);
$color-font-light :#7E7E7E;
$color-background-dark:#484747;
$color-background-light:rgb(234, 234, 234);
$color-background-lighter: rgb(244, 244, 244);

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

@mixin card{
    background-color: white;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.f-w-lighter{
    font-weight: lighter;
}

.icon{
    position: relative;
  }
  
 
/*********************** LE HEADER ***************************/

.logo{
    display: block;
    background-color: white;
    margin: auto;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 15px;

}

.localisation{
    width: 100%;
    background-color: $color-background-light;
    color: black;
    box-shadow: inset 0px 3px 6px rgba(0,0,0,0.1);
    @include flex-row-center;
    justify-content: center;
        &__icon{
        padding-right: 15px;
        }
        &__text{
            font-weight: bold;
        }

}

/*********************** DESCRIPTION ***************************/


.description{
    background-color: $color-background-lighter;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    p{
        font-weight: lighter;
        font-size: 18px;
    }
}

@keyframes loading-spinner{
    0%{opacity: 1;}
    60%{opacity: 0.8;}
    70%{opacity: 0.7;}
    80%{opacity: 0.6;}
    90%{opacity: 0.5;}
    95%{opacity: 0.4;}
    98%{opacity: 0.2;}
    100%{opacity:0;
        visibility: hidden;}
  }
  
  .loading{
    height: 345%;
    width: 100%;
    background-color: rgba(244,244,244,0.95);
    animation: loading-spinner 2000ms;
    animation-fill-mode: both;
  position : absolute;
  top:0.1%
  }
  
  
  .fa-spinner{
    
    color: $color-tertiary;
    font-size: 100px;
    position : absolute;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -50px;
  }
.btn{
    background: linear-gradient(to bottom right, $color-secondary,$color-primary);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
    border: none;
    margin-top: 15px;
    padding: 15px 20px;
    color: white;
    &:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        background: linear-gradient(to bottom right, $color-secondary-light,$color-primary-light);
    }
}
/*********************** FONCTIONNEMENT ***************************/

.section__titre{
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 80px;
    h2{
        padding-bottom: 8px;
    }
}

.fcard{
    @include flex-row-center;
    border-radius: 20px;
    background-color: $color-background-lighter;
    padding: 10px 15px 10px 0px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    left: 7px;  
    &__num{
        color: white;
        font-size: small;
        background-color: $color-primary;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        padding-left: 6px;
        padding-top: 2px;
        margin-right: 20px;
        position: relative;
        right: 10px;
        }
    &__icon{
        color: $color-font-light;
        margin-right: 20px;
    }
    &:hover {
        background-color: $color-primary-lighter;
        >.fcard__icon{
        color: $color-primary;
        }
    } 
 }
   /*********************** RESTAURANTS ***************************/

.restaurants{
    background-color: $color-background-lighter;
    display: flex;
    flex-direction: column;

}
.card{
    @include card;    
        height: 250px;
        position: relative;
        &__nouveau{
            position: absolute;
            top: 5%;
            right: 5%;
            font-size: 15px;
            background-color: $color-tertiary;
            color: $color-tertiary-dark;
            padding: 5px 15px;
            border-radius: 2px;
        }
        &__img{
            height: 70%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
        &__icon{
            font-size: 25px;
            -webkit-text-fill-color: black;   
        }
        p{
            margin: 0%;
            font-size: 16px;
        }
        h3{
            margin: 0%;
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 18px;
        }
        &__text__icon{
            @include flex-row-center;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 20px;
        }
        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        } 
}
@keyframes like{
    0%{opacity: 0;}
    50%{opacity: 0.7;}
    100%{opacity: 1;}
  }

.fa-heart:hover{
    cursor: pointer;
    font-weight: 600;
    background: -webkit-gradient(linear, right bottom, right top, from($color-secondary), to($color-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: like 1000ms;
    animation-fill-mode: both;
}

    /*********************** FOOTER ***************************/

 .footer{
    background-color: $color-background-dark;
    color: white;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-bottom: 0%;
    div{
        @include flex-row-center;
    }
    p{
        margin: 0px 0px 8px 0px;
    }
    a{
        color: white;
        margin-top: 4px;
    }
    &__logo{
   margin: 0%;
   font-family: 'Shrikhand';
   padding-top: 30px;
   padding-bottom: 10px;
}
   &__icon{
       padding-right: 10px;
       font-size: 13px;
   }
   &__icon2{
       padding-right: 8px;
       font-size: 11px;
   }

}