* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: "Robot" "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Shrikhand&display=swap");
}
body {
  font-family: "Roboto";
  margin: 0%;
}
body a {
  text-decoration: none;
  color: black;
}

.f-w-lighter {
  font-weight: lighter;
}

.icon {
  position: relative;
}

/*********************** LE HEADER ***************************/
.logo {
  display: block;
  background-color: white;
  margin: auto;
  width: 45%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.localisation {
  width: 100%;
  background-color: rgb(234, 234, 234);
  color: black;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.localisation__icon {
  padding-right: 15px;
}
.localisation__text {
  font-weight: bold;
}

/*********************** DESCRIPTION ***************************/
.description {
  background-color: rgb(244, 244, 244);
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
}
.description p {
  font-weight: lighter;
  font-size: 18px;
}

@keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.4;
  }
  98% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading {
  height: 345%;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.95);
          animation: loading-spinner 2000ms;
          animation-fill-mode: both;
  position: absolute;
  top: 0.1%;
}

.fa-spinner {
  color: #99E2D0;
  font-size: 100px;
  position: absolute;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -50px;
  margin-top: 100px;
}

.btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  padding: 15px 20px;
  color: white;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

/*********************** FONCTIONNEMENT ***************************/
.section__titre {
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 80px;
}
.section__titre h2 {
  padding-bottom: 8px;
}

.fcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
  padding: 10px 15px 10px 0px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  left: 7px;
}
.fcard__num {
  color: white;
  font-size: small;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  padding-left: 6px;
  padding-top: 2px;
  margin-right: 20px;
  position: relative;
  right: 10px;
}
.fcard__icon {
  color: #7E7E7E;
  margin-right: 20px;
}
.fcard:hover {
  background-color: #f5edff;
}
.fcard:hover > .fcard__icon {
  color: #9356DC;
}

/*********************** RESTAURANTS ***************************/
.restaurants {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  border-radius: 15px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 250px;
  position: relative;
}
.card__nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 15px;
  background-color: #99E2D0;
  color: #2b987d;
  padding: 5px 15px;
  border-radius: 2px;
}
.card__img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card__icon {
  font-size: 25px;
  -webkit-text-fill-color: black;
}
.card p {
  margin: 0%;
  font-size: 16px;
}
.card h3 {
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
}
.card__text__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.fa-heart:hover {
  cursor: pointer;
  font-weight: 600;
  background: -webkit-gradient(linear, right bottom, right top, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: like 1000ms;
          animation: like 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*********************** FOOTER ***************************/
.footer {
  background-color: #484747;
  color: white;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-bottom: 0%;
}
.footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer p {
  margin: 0px 0px 8px 0px;
}
.footer a {
  color: white;
  margin-top: 4px;
}
.footer__logo {
  margin: 0%;
  font-family: "Shrikhand";
  padding-top: 30px;
  padding-bottom: 10px;
}
.footer__icon {
  padding-right: 10px;
  font-size: 13px;
}
.footer__icon2 {
  padding-right: 8px;
  font-size: 11px;
}/*# sourceMappingURL=styles_oh_my_food_.css.map */