*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto' 'Shrikhand';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Shrikhand&display=swap')
}
body{
    font-family: 'Roboto';
    a{
        text-decoration: none;    
        color: black;
    }
}
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-font-light :#7E7E7E;
$color-background-dark:#353535;
$color-background-light:#EAEAEA;

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;   
}
/*********************** LE HEADER ***************************/

.logo{
    display: block;
    background-color: white;
    margin: auto;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 15px;

}

.localisation{
    background-color: $color-background-light;
    color: black;
    @include flex-row-center;
    justify-content: center;
        &__icon{
        padding-right: 15px;
        }
        &__text{
            font-weight: bold;
        }

}
/*********************** FONCTIONNEMENT ***************************/

.section__titre{
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 80px;
    h2{
        padding-bottom: 8px;
    }
}

.fcard{
    @include flex-row-center;
    border-radius: 20px;
    background-color: $color-background-light;
    padding: 10px 15px 10px 0px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    left: 7px;
    &__num{
        color: white;
        background-color: $color-primary;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        padding-left: 5px;
        margin-right: 20px;
        position: relative;
        right: 10px;
        }
    &__icon{
        color: $color-font-light;
        margin-right: 20px;
    }
    }
    