/******************BOUTON FOND GRADIENT COULEURS***************************/
.btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  padding: 15px 20px;
  color: white;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.btn-menu {
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 15%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 17px;
}

/******************COEUR ANIME*******************/
@-webkit-keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.fa-heart:hover {
  cursor: pointer;
  font-weight: 600;
  background: -webkit-gradient(linear, right bottom, right top, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: like 1000ms;
          animation: like 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/******************PRE LOADER*******************/
@-webkit-keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.4;
  }
  98% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.4;
  }
  98% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading {
  inset: 0;
  background-color: rgba(244, 244, 244, 0.95);
  -webkit-animation: loading-spinner 2000ms;
          animation: loading-spinner 2000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: absolute;
  top: 0.1%;
  z-index: 2;
}

.fa-spinner {
  color: #99E2D0;
  font-size: 100px;
  position: absolute;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -50px;
}

/******************ANIMATION CASCADE*******************/
@-webkit-keyframes cascade {
  from {
    margin-top: 40px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes cascade {
  from {
    margin-top: 40px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.animation-delay1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.animation-delay2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.animation-delay3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

/******************COCHE VERTE*******************/
.check {
  display: block;
  background-color: #99E2D0;
  width: 65px;
  height: 70px;
  border-radius: 0px 15px 15px 0px;
  transition: transform 330ms ease-in-out;
  position: absolute;
  right: -70px;
}

.fa-check {
  position: absolute;
  top: 0px;
  color: #99E2D0;
  margin-top: 25px;
  margin-left: 20px;
  padding: 5px 6px;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 10px;
  background-color: white;
  transition: transform 450ms ease-in-out;
}

@-webkit-keyframes hover {
  0% {
    width: 100%;
  }
  100% {
    width: 68%;
  }
}

@keyframes hover {
  0% {
    width: 100%;
  }
  100% {
    width: 68%;
  }
}
@-webkit-keyframes hover-desk {
  0% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}
@keyframes hover-desk {
  0% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}/*# sourceMappingURL=Components.css.map */