@import "../Utils/Utils.scss";
@import "../Components/Components.scss";
.background-light{
    background-color: $color-background-light;
}
.background-white{
    background-color: white;
}
.background-lighter{
    background-color: $color-background-lighter;
}
.bold{
    font-weight: bolder;
    padding-right: 5%;
    transition: transform 280ms ease-in-out 50ms;
    
}
.logo{
    position: relative;
    &__return{
        font-size: 25px;
        position: absolute;
        left: 8%;
        top: 5%;
    }
}
.photo{
    height: 300px;
    width: 100%;
    object-fit: cover; 
    position: relative;
    &__position {
        background-color: $color-background-lighter;
        width: 100%;
        position: absolute;
        top: 45%;
        border-radius: 30px 30px 0px 0px;
    }
}
.name{
    @include flex-row-center;
    justify-content: space-around;
    font-family: 'Shrikhand';
    padding-left: 10px;
    &__icon{
        font-size: 30px;
        padding-right: 5%;
    }
}
.epd{
    font-weight:lighter;
    font-size: 17px;
    padding-left: 5%;
    padding-bottom: 2%;
}
.border{
    padding-bottom: 1%;
    border-bottom: 3px solid $color-tertiary;
}
.card{
    animation-name: cascade;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    height: 70px;
    padding-left: 5%;
    overflow: hidden;
    div{
        @include flex-row-center;   
    justify-content: space-between;
    }
    &:hover{
    cursor: pointer; 
    >.plat{
        width: 75%;  
    }
    >.contenant{
        >.plat__des{
            width: 68%;
    }   }  
        >.check{
        transform: translate(-65px, 0);
            >.fa-check{
            transform: rotate(360deg);    
        }   
    }
}
    &:hover .bold{
        transform: translate(-65px, 0);
    }
}
.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plat{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.plat__des{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    transition: width 330ms ease-in-out;
    
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
 .photo__position{
    top: 70%;
}
.card{
    width: 400px;
}
.desktop__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desktop__center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (min-width: 992px)
{
.desktop__row{
display:flex;
flex-direction: row;
justify-content: space-around;
}
.card{
width: 400px;
}
.check{
    height: 80px;
}
.fa-check{
    top:6px;
}

.btn-menu{
    margin-top: 50px;
    margin-bottom: 100px;
}
.photo__position{
    top: 90%;
}
.desktop__center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}